body {
	background:#F4F4f4;
}

/*  ------------------MENU DESPLEGABLE-------------------*/

* {
	margin:0;
	padding:0;
}

a{
	font-family: "Police" , sans-serif;
}


header{
	width:100%;
}

header nav{
	width:90%;
	max-width:1000px;
	margin:0px auto;
	background:#024959;
	display: flex;
	justify-content: center;
	border-radius: 0px 0px 30px 30px;
}

.menu_bar{
	display:none;

}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a{
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span{
	margin-right:10px;
}

header nav ul li a:hover{
	background:#037E8C;
}

section{
	padding:20px;
}

@media screen and (max-width:800px){
	header nav {
		width:50%;
		height:100%;
		left:-100%; //lo agrego para la forma no brusca xdxD
		margin:0;
		position:fixed;
		display: block;
	}
	

	header nav ul li{
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);

	}

	a{
		font-size: 10pt;
	}

	.menu_bar{
		
		display:block;
		width:100%;
		background:#ccc;
		height: 30px;
		align-items: center;
	}

	.menu_bar .bt-menu{
		display:block;
		padding:20px;
		height: 30px;
		background:#024959;
		color:#fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing: border-box;
		margin-top: -10%;
	}

	.menu_bar span{
		float: left;
		font-size: 20px;
		margin-top: -8px;

	}

	.menu_bar a{
		font-size: 20pt;
	}

	.cerrar_sesion{
		bottom: 50px;
	}

	.contenedor_lista{
		display: flex;
		flex-direction: column;
	}

	.contenedor_lista ul li{
		width: 100%;
	}


}