<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sugerencia</title>
	<link rel="stylesheet" href="/css/seleccion_sugerencia_quemepongo.css">
	<link rel="stylesheet" href="/fonts/fonts.css">
	<script src="https://kit.fontawesome.com/45c2e77de6.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>

h1 {
  color: blue;
}
</style>


</head>



<body class="text-center">


<header>
<div class="menu_bar" style="z-index: 1;">
				<a href="#" class="bt-menu" ><i class="fas fa-bars" id="barritas" ></i></a>
	
		</div>

		<nav style="z-index: 1;">
			<ul>
				<form action="/logout" method="post">
				<li><a href="/" ><i class="fas fa-home"></i> Inicio</a></li>
				<li><a href="#"><i class="fas fa-list"></i> Guardarropas</a></li>
				<li><a href="/calendario"><i class="far fa-calendar-alt"></i> Eventos</a></li>
				<li><a href="#"><i class="fas fa-user-tie"></i> Sugerencia</a></li>
				<li><a href="/seleccionGuardarropas"><i class="fas fa-tshirt"></i> Ingresar Prenda</a></li>
                
				<li><a href="#"><button type="submit" class="boton_cerrar_sesion"><i class="fas fa-key"></i> Cerrar Sesion</button></a></li>
                </form>
			</ul>
		</nav>
</header>
														
<div class="circle">
		<img src="img/logoQueMePongo3.png" class="imagen_circulo">
	</div>		


<div class="contenedor_general">
		
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><b>Sugerencia</b></h1>
    <p class="lead"><strong>¡Prueba con una nueva combinación de prendas, o simplemente elige una que te haya gustado!</strong></p>
	
	
  </div>
</div>	

	
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">

    
  </div>

	

  
  
	<a href="/sugerencia_actual_quemepongo"<button type="button" class="btn btn-outline-primary">¡Nueva Sugerencia!</button></a>
	
	<a href="/sugerencias_favoritas_quemepongo"><button type="button" class="btn btn-outline-primary">Ver sugerencias favoritas</button></a>
  

	
	
<div>	


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/menu_desplegable_quemepongo.js"></script>

</body>
</html>